version: '3.8'

services:
  node:
    build: .
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    working_dir: /app
    container_name: node
    env_file: .env
    networks:
      - app-network
    environment:
      - MONGO_USERNAME=$MONGO_USERNAME
      - MONGO_PASSWORD=$MONGO_PASSWORD
      - MONGO_HOSTNAME=mongo
      - MONGO_PORT=$MONGO_PORT
      - MONGO_DB=$MONGO_DB 
    restart: on-failure
    depends_on:
      - mongo

  mongo:
    image: mongo
    container_name: mongodb
    env_file: .env
    networks:
      - app-network
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGO_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD=$MONGO_PASSWORD
    restart: on-failure

  nginx:
    image: nginx:mainline-alpine
    container_name: nginx
    env_file: .env
    ports:
      - $PORT:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - node
    networks:
      - app-network

networks:
  app-network:
    driver: bridge